@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-a {
    @apply flex items-center px-3;
  }
  .header-img {
    @apply w-5;
  }
  .header-span {
    @apply text-xs overflow-hidden relative p-2 after:h-[4px] after:bg-white after:absolute after:left-0 after:right-0 after:-bottom-[1px] after:opacity-0 after:scale-x-0 after:origin-center  hover:after:scale-x-[1] hover:after:opacity-[1];
  }
  .sliderImg {
    @apply w-full h-full rounded  border-[4px] border-transparent hover:border-[4px] hover:border-[rgba(249,249,249,0.8)] cursor-pointer duration-300;
  }
}
body {
  background-color: #040714;
  color: white;
}
/* Slider image */
.slick-list {
  overflow: visible;
}
.slick-dots > li button {
}
.slick-dots > li > button:before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}
.slick-dots > li.slick-active button:before {
  color: white;
}
.slick-arrow {
  z-index: 1;
}
.sliderImg {
  box-shadow: rgb(0 0 0 / 69%) 0 26px 30px -10px,
    rgb(0 0 0 / 73%) 0 16px 10px -10px;
}
/* Viwer section  */
.viewersContainer > div {
  padding-top: 56.25%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
}
.viewersContainer > div:hover {
  box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;

  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}

.viewersContainer > div > img {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  z-index: 1;
  top: 0;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 0;
}

.viewersContainer > div > img:hover + video {
  opacity: 1;
}

/* Movies Images */
.moviesContainer > div {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 69%) 0 25px 30px -10px,
    rgb(0 0 0 / 73%) 0 16px 10px -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.moviesContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.moviesContainer > div:hover {
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 80%) 0 40px 58px -16px,
    rgb(0 0 0 / 72%) 0 30px 22px -10px;
}
/* Movies type */
.moviesType {
  font-weight: 600;

  font-size: x-large;
  margin: 5rem 0 1rem 0;
}
